Blitz
INSTALL
IntARNA-data
Makefile.in
Results
Stochastirator-tests/
TODO
Wolfgang-Paerchen/
_build/
_inst/
aclocal.m4
autom4te.cache/
config.h.in
config/
configure
doc/
scripts/run_all-test.params
src/Makefile.in
src/Tests/Makefile.in
srna_homologs.zip
tmp/
Examples/HP1-HP2/
Examples/HP3-HP2/
Examples/MicA-MicA/
Examples/MicA-OmpA/
Examples/example/
Examples/plot_kinetics.ipynb

