
########################################
# OPTIONS controlling the kinetics analysis
# (other than the options for chaining input/output etc)

RIKIN_ASSOCIATION_PREFACTOR=1.0

# common options for enum and barries
COMMON_OPTS="--verbose --max-hyb-length-diff 8"

# specific options
ENUM_OPTS="--max-hyb-energy 7 --max-total-energy 12"
BARRIERS_OPTS=""
PRUNE_OPTS="--preexpf-first $RIKIN_ASSOCIATION_PREFACTOR \
    --min-rate 5e-8 --num-out 2000 --num-pequ 800"
XRATES_OPTS="--t8 1e15"
KINETICS_OPTS="--relative-dp --dproot 3"
